<div class="modal-header">
	<h3 class="modal-title" id="modal-title">ADD A QUESTION</h3>
</div>
<form name="addQuestion" ng-submit="vm.ok()">
	<div class="modal-body">
  		<div class="form-group">
  			<label for="repeatSelect"> Question: </label>
			<input 
			    type="text" 
			    class="form-control" 
			    placeholder="Question" 
			    ng-model="vm.question.content" required>
		</div>
		<div class="form-group">
			<label for="repeatSelect"> Question Category: </label>
		    <select name="repeatSelect" class="form-control" ng-model="vm.question.category">
		    	<option ng-repeat="option in vm.categories" value="{{option.id}}">{{option.category_name | uppercase }}</option>
		    </select>
		</div>
		<div class="form-group">
			<label for="repeatSelect"> Choices: </label>
			
			<selectize 
				placeholder='Add only 4 choices...' 
				name='choices' 
				options='vm.answerOptions' 
				config="vm.choicesConfig" 
				ng-model="vm.question.choices" 
				ng-disabled='disable' 
				required='true'></selectize>

		</div>
		<div class="form-group">
			<label for="repeatSelect"> Answer: </label>
      		<selectize 
      			ng-required="true" 
      			placeholder='Select one answer...' 
      			options='vm.answerOptions' 
      			config="{maxItems: 1}" 
      			ng-model="vm.question.answer"  
      			name='myName2' 
      			required='true'></selectize>
		</div>
		<div class="form-group">
			<label for="repeatSelect"> Exam Type: </label>
		    <select name="repeatSelect" class="form-control" ng-model="vm.question.exam_type">
		    	<option ng-repeat="option in vm.exam_types" value="{{option.id}}">{{option.exam_type | uppercase }}</option>
		    </select>
		</div>
  	</div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Add</button>
	<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>

<!-- <div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="">OK</button>
	<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div> -->