<div class="table-responsive"> 
  <div class="form-group">
    <button class="btn btn-danger pull-right"> Remove </button>
    <button class="btn btn-primary addnew pull-right" ng-click="vm.addQuestion()"> Add New</button>

  </div>
  <span></span>        
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Question</th>
        <th>Answer</th>
        <th></th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>