<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/login.css">

	
</head>
<body>
	<nav></nav>
	<div class="container">
		<div ui-view></div>		
	</div>
	<script type="text/javascript" src="vendor/components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
	<!-- <script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script> -->
	<script type="text/javascript" src="assets/js/app.js"></script>

	<script type="text/javascript" src="assets/js/controllers/AuthenticationController.js"></script>
	

</body>
</html>
