	<!DOCTYPE html>
	<html ng-app="app">
	<head>
		<title>Welcome</title>

		<link rel="stylesheet" type="text/css" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/home.css">
		<link rel="stylesheet" type="text/css" href="assets/css/login.css">
		<link rel="stylesheet" type="text/css" href="assets/css/selectize.css">
		<base href="http://localhost/thesis/">
		
	</head>
	<body ng-controller="MainController as vm">
		<header class="container">

			<main-nav 
				login="{{vm.is_logged_in}}" 
				user="vm.loggedInUser">
				
			</main-nav>
		</header>
		<div class="container">
			<ui-view></ui-view>

	    </div>
	    <hr>
	    <footer>
	        <div class="row">
	            <div class="col-lg-12">
	                <p>Copyright &copy; Your Website 2014</p>
	            </div>
	        </div>
	    </footer>
		<script type="text/javascript" src="vendor/components/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/selectize.js"></script>
		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-selectizejs/angular-selectize.js"></script>
		<script type="text/javascript" src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>

		<script type="text/javascript" src="assets/js/controllers/AuthenticationController.js"></script>
		<script type="text/javascript" src="assets/js/controllers/MainController.js"></script>
		<script type="text/javascript" src="assets/js/controllers/admin/QuestionController.js"></script>

		<script type="text/javascript" src="assets/js/components/main.nav.js"></script>

		<script type="text/javascript" src="assets/js/services/localStorage.js"></script>

		

	</body>
	</html>
