<div class="row">
	<div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title" ng-if="vm.exam_id == 1">Entance Examination</h3>
            <h3 class="panel-title" ng-if="vm.exam_id == 2">Promotional Examination</h3>
            <div>
            	Registration closes in <span id="time"></span> minutes!
            	{{ vm.seconds }}
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-lg-12">
	                <div ng-if="!vm.isFinished" 
	                	 ng-repeat="question in vm.questions.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage)) track by $index">

						<div class="row" ng-init="vm.exam_type=question.exam_id">
							<div class="col-md-2 col-lg-2"></div>
							<div class="col-md-8 col-lg-8">
								<center><b>{{question.question}}</b></center>	
							</div>
							<div class="col-md-2 col-lg-2"></div>
		
						</div>
						<div class="row"></div>
						<div class="row" ng-repeat="choice in vm.choices | filter: {question_id: question.id}"  >
							<div class="col-md-3 col-lg-3"></div>
							<div class="col-md-6 col-lg-6" ng-init="vm.answer=question.answer" >
								 	
								<label ng-init="vm.passing_rate=question.passing_rate">
									<input 
										type="radio" 
										name="choiceAnswer"
										ng-value="choice"
										ng-model="vm.selected">
									{{ choice.choice_name}}

									 
								</label>

							</div>
							<div class="col-md-3 col-lg-3"></div>
						
						</div>	
					</div>

				  	<ul uib-pager
				  		ng-show="!vm.isFinished" 
				  		total-items="vm.totalItems" 
				  		ng-model="vm.currentPage" 
				  		items-per-page="vm.itemsPerPage"
				  		ng-change="vm.checkAnswer()"></ul>

				  	<uib-progressbar 
				  		ng-show="!vm.isFinished"
				  		class="progress-striped active"
				  		max="vm.totalItems"
				  		value="vm.currentPage" 
				  		type="success">

				  		<b>{{ vm.currentPage}} / {{vm.totalItems }} </b>
				  	</uib-progressbar>
	  				<button 
				  		ng-show="vm.currentPage==vm.totalItems&&!vm.isFinished" 
				  		type="button" 
				  		class="btn btn-primary"
				  		ng-click="vm.submitAnswer()">Submit Answers</button>
                   
                </div>
            </div>
        </div>
        <div class="panel-footer">
        </div>

    </div>
	
</div>