<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Login dropdown</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <ul class="nav navbar-nav navbar-right" ng-if="login=='false'" uib-dropdown keyboard-nav>
            <li><p class="navbar-text"> Already have an account?</p></li>
            <li>
              <a ui-sref="login" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b></a>
            </li>
        </ul>
        <ul></ul>
        <ul class="nav navbar-nav navbar-right" ng-if="login=='true'" >
            <li>
                <div class="btn-group" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-primary">
                        <i class="glyphicon glyphicon-user"></i>
                        {{ user.last_name }} , {{ user.first_name }}
                    </button>
                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>

                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><a href="" ui-sref="profile">Profile</a></li>
                        <li role="menuitem" ng-if="user.is_admin==1">
                            <a href="" ui-sref="questions">Questionnaires</a>
                        </li>
                        <li role="menuitem" ng-if="user.is_admin==0">
                            <a href="" ui-sref="exam">Take Exam</a>
                        </li>
                        <li role="menuitem"><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li role="menuitem" ng-controller="AuthenticationController as vm">
                            <a href="" ng-click="vm.logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
  </div>
</nav>  