<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Login dropdown</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <ul class="nav navbar-nav navbar-right" ng-if="login=='false'" uib-dropdown keyboard-nav>
            <li><p class="navbar-text"> Already have an account?</p></li>
            <li>
              <a ui-sref="login" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b></a>
            </li>
        </ul>
        <ul></ul>
        <ul class="nav navbar-nav navbar-right" ng-if="login=='true'" >
            <li>
                <div class="btn-group" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-primary">
                        <i class="glyphicon glyphicon-user"></i>
                        {{ user.last_name }} , {{ user.first_name }}
                    </button>
                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><a href="">Profile</a></li>
                        <li role="menuitem"><a href="#">Another action</a></li>
                        <li role="menuitem"><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a ui-sref="logout">Logout</a></li>
                    </ul>
                </div>
                <!-- <div class="btn-group" uib-dropdown>
                  <button id="split-button" type="button" class="btn btn-danger">Action</button>
                  <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                  </ul>
                </div> -->
                <!-- <a href="">
                    <div class="btn-group" uib-dropdown keyboard-nav>
                        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                            Already have an account? Login <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                            <li role="menuitem"><a href="#">Action</a></li>
                            <li role="menuitem"><a href="#">Another action</a></li>
                            <li role="menuitem"><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </a> -->
                <!-- <a uib-dropdown href id="simple-dropdown" uib-dropdown-toggle>
                    <i class="glyphicon glyphicon-user"></i>
                    {{ user.last_name }} , {{ user.first_name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li>
                        <a href>HEllo0</a>
                    </li>
                </ul> -->
                <!-- <a href="" uib-dropdown keyboard-nav>
                    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                        Already have an account? Login <span class="caret"></span>
                    </button>
                    
                </a> -->
            </li>
        </ul>
    </div>
  </div>
</nav>  